body {background-color: #eaeaea;}

/* unvisited link */
a:link {
    color: #008000;
}

/* visited link */
a:visited {
    color: #14dcb4;
}

/* mouse over link */
a:hover {
    color: #d1fde9;
}

/* selected link */
a:active {
    color: #028af1;
}

.tablewor { background-color: #87cefa;

}

.photoagci { background-color: #f1c40f;

}

.formagci { background-color: #bbe3c6;

}